<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Video Upload</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand">Video App</a>
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <!-- NAVBAR LINKS -->
            <li class="nav-item">
                <a class="nav-link active" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</div>
<div class="container mt-5">
    <h2>Uploaded Videos</h2>
    <ul>
        <li th:each="video : ${videos}">
            <p th:text="${video.title}"></p>
            <video width="320" height="240" controls>
                <source th:src="@{'/video/' + ${video.fileName}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </li>
    </ul>

    <!-- Video Gallery -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/VIDEO_ID_1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/VIDEO_ID_2" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/VIDEO_ID_3" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

